/**
* Estilos propios de Agencia Única
* 
**/

#contentenido{
	margin:50px;
}
#logo a{
	display:block;
	width: 101px;
	height: 70px;
	background: url(../images/logo_sprite.png) no-repeat;
	text-indent:-999px;
    margin-top:7px;
}
#logo a:hover{
	background: url(../images/logo_sprite.png) 0 -71px no-repeat;
}
#info-principal{
	border-radius: 15px;
    box-shadow: 0 7px 8px #3d85c6;
	background:#F0F9FC;
	padding: 10px 0 0;
}
div.info-principal-contenedor{
	width: 98%;
}
#pregunta-principal {
	width: 52%;
}
#pregunta-principal h2{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #4891dc;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 1px #002878;
	
}
#video-contenedor-principal .video-contenedor{
	border-radius: 10px;
	padding:8px;
	background:#ccc;
}
.intro-span-video{
	color: #63AC0F;
    display: block;
    font-family: 'Rancho',cursive;
    font-size: 3em;
    margin: 0 10px 0 0;
}
#video-contenedor-principal{
	margin-bottom: 10px;
    margin-left: 120px;
}
#video-contenedor-principal .video-principal{
	background: url(../images/vide-thumb.png) no-repeat;
	width: 140px;
	height: 80px;
	display:block;
	text-indent:-999px;
	opacity:0.7;
}
#video-contenedor-principal .video-principal:hover{
	opacity:0.9;
}

#wrapper-navegador{
	background: #3e7fb1;
	width: 897px;
	height: 190px;
	margin: 0 auto 0 22px;
	position: relative;
}

#wrapper-navegador .navegador{
	width: 670px;
	margin:0 auto;
	position:relative;
}
#wrapper-navegador .contenedor-dialogo{
	position: absolute;
	top: -30px;
	width:100px;
	height:50px;
}
#wrapper-navegador .efecto{
	background: url(../images/up-dialogo.png) no-repeat;
	width:37px;
	margin-left: 30px;
	height:58px;
}
#wrapper-navegador .dialogo{
	background: #FFF;
    border-radius: 8px;
    box-shadow: 0 6px 5px #444;
    height: 135px;
    margin-top: -17px;
    padding: 10px 10px 20px;
    width: 500px;
}
.siguiente-navegacion{
	height: 70px;
    position: absolute;
    right: 100px;
    text-indent: -999px;
    top: 55px;
    width: 70px;
	background: url(../images/arrow-next.jpg) no-repeat;
}

.siguiente-navegacion:hover{
	background: url(../images/arrow-next.jpg) 0 -70px no-repeat;
}

.texto-carta{
	color: #444444;
    margin: 20px 0 0 20px;
    width: 267px;
	text-shadow: 1px 1px 1px #ccc;
}


#info-principal-navegacion{
	background: none repeat scroll 0 0 #F0F9FC;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 -4px 8px #3d85c6;
    padding: 10px 0;
	margin:0 10px 0 10px;
	width: 100%;
	height: 65px;
}
#info-principal-navegacion ul{
	display:block;
	width: 62%;
	margin: 0 auto;
}
#info-principal-navegacion ul li{
	list-style:none;
	display:block;
	float:left;
	width: 81px;
	height: 58px;
	position:relative;
	margin-left:50px;
}
#info-principal-navegacion ul li span{
	font-size:11px;
	color:#b90f02;
}
#info-principal-navegacion ul li a{
	display:block;
	float:left;
	width:58px;
	height: 58px;
	text-indent:-999px;
	opacity:0.6;
}
#info-principal-navegacion ul li a:hover{
	opacity:1;
}
#wrapper-navegador .carta-dialogo{
	display:none;
}
#menu-quees{
	background: url(../images/sprite_menu.jpg) 0 0 no-repeat;
}
#menu-como-funciona{
	background: url(../images/sprite_menu.jpg) -116px 0 no-repeat;
}
#menu-como-comprar{
	background: url(../images/sprite_menu.jpg) -58px 0 no-repeat;
}
#menu-como-vender{
	background: url(../images/sprite_menu.jpg) -174px 0 no-repeat;
}

.mas-informacion-paginas{
	padding: 10px;
}
.mas-informacion-paginas p{
	line-height: 25px;
	margin: 20px 40px 0 40px;
}

#jp_container_1{
	height:470px;
}

.mas-informacion-paginas img{
		padding: 10px;
		background:#3E7FB1;
		border-radius: 4px;
		float:right;
	}
	.mas-informacion-paginas ul li{
		background:#f6f6f6;
		border:solid 1px #ccc;
		color:#444;
		border-radius: 6px;
		list-style:none;
		padding:20px;
		position:relative;
		margin-bottom: 16px;
	}
	.mas-informacion-paginas ul li:hover{
		background:#ccc;
	}
	.mas-informacion-paginas h2{
		position:absolute;
		color:#bc1303;
		top:83px;
	}
	.mas-informacion-paginas ul li p{
		font-size:130%;
	}
	.izquierda-contenido{
		width:35%;
	}
	.derecha-contenido{
		width:55%;
	}

/* Extras */
.oculto{
	display:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.cl{
	clear:left;
}
.cr{
	clear:right;
}
.cb{
	clear:both;
}