
h1,h2,h3,h4,h5{
margin-top: 0;
font-family: arial black, arial;
text-align: center;
}
/*
input[type=text]{
	display: block;
	margin: 0 0 1em 0;
	width: 200px;
	border: 5px none;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 1em;
}

input[type=submit], form a{
	border: none;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #3399aa;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	
	
}*/

input[type=submit]:hover, form a:hover{
	background: #3399cc;
	cursor: pointer;
}
.error{
	color: #393939;
	font-size: 15px;
}
fieldset {
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}
h2{
	text-shadow: 0 1px white;
}
