/* 
Admin Gem Template
Author: MaestroX (http://themeforest.net/user/MaestroX)
*/

a:focus, a:hover {
	color:#98c700;
}
a {
	color:#98c700;
	text-decoration:underline;
}
.box a {
	color:#98c700;
	text-decoration:none;
}
.box a:hover {
	color:#98c700;
	text-decoration:underline;
}

.pagination .active {
	background-color:#98c700;
}
.pagination li:hover {
	border:solid 1px #98c700;
}